In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import metrics
from sklearn.metrics import mean_squared_error,mean_absolute_error
from sklearn.model_selection import train_test_split

In [2]:
data=pd.read_csv("conv.csv")

In [3]:
data.head(35)

                  Name of place  CASES  DISCHARGED  DEATHS
0   Andaman and Nicobar Islands     33          33       0
1                Andhra Pradesh   3171        2009      57
2             Arunachal Pradesh      2           1       0
3                         Assam    616          62       4
4                         Bihar   2983         900      13
5                    Chandigarh    266         187       4
6                  Chhattisgarh    361          79       0
7            Dadar Nagar Haveli      2           0       0
8                         Delhi  14465        7223     288
9                           Goa     67          28       0
10                      Gujarat  14821        7139     915
11                      Haryana   1305         824      17
12             Himachal Pradesh    247          67       5
13            Jammu and Kashmir   1759         833      24
14                    Jharkhand    426         175       4
15                    Karnataka   2283         748      44
16                       Kerala    963         542       6
17                       Ladakh     53          43       0
18               Madhya Pradesh   7024        3689     305
19                  Maharashtra  54758       16954    1792
20                      Manipur     39           4       0
21                    Meghalaya     15          12       1
22                      Mizoram      1           1       0
23                     Nagaland      4           0       0
24                       Odisha   1517         733       7
25                   Puducherry     46          12       0
26                       Punjab   2106        1918      40
27                    Rajasthan   7536        4171     170
28                       Sikkim      1           0       0
29                   Tamil Nadu  17728        9342     127
30                    Telengana   1991        1284      57
31                      Tripura    207         165       0
32                Uttar Pradesh   6548        3698     170
33                  Uttarakhand    401          64       4
34                  West Bengal   4009        1486     283

In [4]:
X=data["CASES"].values
y=data[['DISCHARGED']].values
z=data["DEATHS"].values
X=X.reshape((35,1))

## Total Cases VS Discharged

In [5]:
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.33, random_state=42)

In [6]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
PR=PolynomialFeatures(degree=2) 
X_new=PR.fit_transform(X_train)
X_new.astype(int) 
LR=LinearRegression()
LR.fit(X_new,y_train)
y_pred = LR.predict(PR.fit_transform(X_test))
rmse = np.sqrt(metrics.mean_squared_error(y_test,y_pred))
print(rmse)

390.2802885755862

In [7]:
from sklearn.tree import DecisionTreeRegressor
dtc = DecisionTreeRegressor(random_state = 0)
dtc.fit(X_train, y_train)
y_pred = dtc.predict(X_test)
rmse = np.sqrt(metrics.mean_squared_error(y_test,y_pred))
print(rmse)

2918.3619549329383

In [8]:
from sklearn.ensemble import RandomForestRegressor
rfr=RandomForestRegressor(n_estimators=300,random_state=0)
rfr.fit(X_train,y_train)
y_pred = rfr.predict(X_test)
rmse = np.sqrt(metrics.mean_squared_error(y_test,y_pred))
print(rmse)

C:\Users\Akash\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

3263.7828732068233

## Total Cases VS Deaths

In [9]:
X_train, X_test, z_train, z_test = train_test_split( X, z, test_size=0.33,random_state=42)

In [10]:
X_new=PR.fit_transform(X_train)
X_new.astype(int) 
LR.fit(X_new,z_train)
z_pred = LR.predict(PR.fit_transform(X_test))
rmse = np.sqrt(metrics.mean_squared_error(z_test,z_pred))
print(rmse)

2537.8931859814775

In [11]:
dtc.fit(X_train, z_train)
z_pred = dtc.predict(X_test)
rmse = np.sqrt(metrics.mean_squared_error(z_test,z_pred))
print(rmse)

385.67819055096527

In [12]:
rfr.fit(X_train,z_train)
z_pred = rfr.predict(X_test)
rmse = np.sqrt(metrics.mean_squared_error(z_test,z_pred))
print(rmse)

375.4086515792564